{% load static %}

<!DOCTYPE html>
<html lang="en" bs-data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %} - Turning Point USA Old Dominion
    </title>
    <link
      rel="shortcut icon"
      href="{% static 'images/icons/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'images/icons/android-chrome-192x192.png' %}"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'images/icons/android-chrome-512x512.png' %}"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'images/icons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      href="{% static 'images/icons/favicon-32x32.png' %}"
      type="image/png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="{% static 'images/icons/favicon-16x16.png' %}"
      type="image/png"
      sizes="16x16"
    />

    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="{% static 'js/theme-color.js' %}" defer></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg border-bottom border-body px-3 navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img
            src="{% static 'images/navbar-tpusaodu.png' %}"
            alt="Turning Point USA @ Old Dominion University"
            id="navbarlogo"
            style="width: 10dvw"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarMain"
          aria-controls="navbarMain"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
          <ul class="me-auto nav nav-pills">
            <li class="nav-item">
              <a
                class="nav-link {% block homeActive %}{% endblock %}"
                href="{% url 'index' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block eventsActive %}{% endblock %}"
                href="{% url 'events' %}"
                >Events</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block joinActive %}{% endblock %}"
                href="{% url 'join' %}"
                >Join Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block leadershipActive %}{% endblock %}"
                href="{% url 'leadership' %}"
                >Leadership</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block contactActive %}{% endblock %}"
                href="{% url 'contact' %}"
                >Contact Us</a
              >
            </li>
          </ul>
          <div class="ml-auto">
            <button id="themeToggle" class="btn btn-outline-secondary">
              <!-- Default: sun icon (light mode) -->
              <i class="bi bi-sun-fill" id="iconSun"></i>
              <i class="bi bi-moon-stars-fill" id="iconMoon"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
